@model AppData.Entities.Models.Voucher

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
   
    <hr />
    <dl class="row">
        <div>
            <a href="~/Admin/Voucher/DanhSach"><i class="fas fa-arrow-circle-left" style="color: #005eff;"></i></a>
        </div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaVoucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaVoucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTriVoucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTriVoucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DieuKienMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DieuKienMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DieuKienMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DieuKienMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <div>
            <a href="@Url.Action("Edit", "Voucher", new { id=Model.ID })" style="text-decoration:none;"><i class="fas fa-edit"></i></a>
        </div>
    </dl>
</div>

